/* basic css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
        
body {
    font-family: 'Uchen', serif;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    width: 100vw;
    margin-top: 30px;
  }
  
  @media (max-width: 767px) {
    #carouselExampleIndicators .carousel-item img {
      height: 50vh;
    }
  }

/* carousel css */
.carousel{
    box-shadow: 1px 1px 4px 1px rgba(58, 43, 43, 0.5);
}

.carousel-indicators{
    z-index: 1 !important;
}
/* navbar css */
.nav-item .nav-link {
    color: #999;
    text-decoration: none;
}

.navbar-nav {
    font-family: 'Uchen', serif;
    font-size: 20px;
    padding-right: 30px;
}
.navbar-nav a:hover {
    color: #fff;
    background-color: #8BC34A; 
    border-radius: 3px;
    transition: 0.3s ease;
}

.logo {
    width: 130px;
}
.judul {
    color: #999;
    margin-bottom: -15px;
    font-family: 'uchen', serif;
    font-weight: bold;
    font-size: 25px;
}
/* carousel css */
.carousel-caption {
    margin-bottom: 220px;
}
.carousel-caption h3 {
    font-family: 'Uchen', serif;
    font-weight: lighter;
    font-weight: 600;
    text-shadow: 2px 2px 2px grey; 
}
.carousel-caption p {
    font-family: 'Uchen', serif;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
}
/* main content */
.container-fluid {
  background-color: #8BC34A;
  padding-bottom: 50px;
}
.container-fluid .judul1{
    text-align: center;
    /* color: #fff; */
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    font-weight: bold;
}
#subjudul1{
    text-align: center;
    color: #464646;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.card-title , .judul2 {
    text-align: center;
    color: #3a3a3a;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* card legendary menu*/
#box .card {
    transition: 0.5s ease;
    cursor: pointer;
}
#box .card:hover {
    transform: translateY(-10px);
}

/* section konten explore food css*/

.food-type {
    padding-top: 3.25rem;
}
.food-type ul li {
    font-size: 1rem;
    color : #9e9d9d;
    line-height: 2rem;
    position: relative;
    margin-left: 1.87rem;
}
.food-type ul li {
    position: absolute;
    left: -2.18rem;
    color : #8BC34A;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    content: 'f00c';
    display: inline-block;
    font-weight: 900;
}
/* konten contact and about css */
.container-iframe {
    border-radius: 5px;
}

h4 {
    font-family: 'Uchen','serif';
}

.frame iframe {
    border-radius: 10px;
}
/* footer css */
.instagram, .twitter, .facebook,.line {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    transition: 0.3s;
}
.social-links a:hover {
    color: #fff;
}
.copyright {
    text-align: center;
    font-family: 'uchen', serif;
    color: #fff;
}

/* iframe map css */
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* explore food css */
.explore-food .card {
    background: transparent;
    border-radius: 0.9375rem;
    border: .125rem dashed #3d7003;
}
.explore-food .card img {
    border-radius: 0.9375rem 0.9375rem 0 0;
    object-fit: cover;
}
.explore-food .card span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #8BC34A;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #3d7003;
}
.explore-food .card span del {
    color: #999;
    margin-left: 1px
}
/* banner food css */
#judulf {
    text-align: center;
    /* color: #fff; */
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    font-weight: bold;
}
